.RecentTransaction {
    left: 304px;
    top: 104px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 24px;
    display: inline-flex;
}

.DetalhesDaConta {
    word-wrap: break-word;
}

.titulo {
    color: #878787;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
}

.MainContent {
    align-self: stretch;
    padding-top: 4px;
    padding-bottom: 36px;
    padding-left: 32px;
    padding-right: 32px;
    background: white;
    box-shadow: 0px 20px 25px rgba(76.01, 103.06, 100.26, 0.10);
    border-radius: 16px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.Header {
    padding-top: 24px;
    padding-bottom: 16px;
    border-bottom: 1px rgba(210, 210, 210, 0.25) solid;
    width: 1048px;
}

.Data {
    width: 21%;
    color: #191919;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
    text-align: left;
}

.HeaderContent {
    height: 24px;
}

.Categoria,
.Descricao {
    width: 22%;
    text-align: center;
    color: #191919;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
}

.Estabelecimento {
    width: 21%;
    text-align: center;
    color: #191919;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
}

.Valor {
    text-align: right;
    color: #191919;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
}

.TransactionList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
    display: flex;
}

.Frame133543 {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.ButtonBig {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    background: #299D91;
    border-radius: 4px;
    justify-content: flex-start;
    align-items: center;
    gap: 4px;
    display: inline-flex;
}

.HeaderContent {
    height: 24px;
}

.Categoria,
.Descricao {
    width: 22%;
    text-align: center;
    color: #191919;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
}

.Estabelecimento {
    width: 21%;
    text-align: center;
    color: #191919;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
}

.Valor {
    text-align: right;
    color: #191919;
    font-size: 16px;
    font-family: Inter;
    font-weight: 700;
    text-transform: capitalize;
    line-height: 24px;
    word-wrap: break-word;
}

.TransactionList {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 28px;
    display: flex;
}